{% extends 'base.html' %}

{% block title %}Password Forgot {% endblock %}


{% block content %}
{% include 'navbar/navbar.html' %}
{% include 'navbar/menuNavbar.html' %}
<div class="flex justify-center items-center mt-[20px]">
  
        <div class="flex flex-col gap-[20px] w-[500px] shadow-2xl p-5 rounded border-t-[2px] border-yellow-600">
            <h2 class="text-center  text-warning text-[20px] text-yellow-600">
                Reset Your Password
                <hr class=" bg-gray-500  mt-[10px]">
            </h2>
            
            {% if request.GET.m == "s" %}
            <h3>Password reset link is sent to your email address. Please check your email immediately.</h3>
            {% else %}
            {% if request.GET.m == "e" %}
            <h4 class="text-danger">Something went wrong. Please enter your email again.</h4>
            {% endif %}
           
            <form action="" method="POST" class="p-5">
                {% csrf_token %}

                {% include 'accounts/form.html' %}

                <button class="bg-blue-300 p-[10px] text-white rounded float-right hover:bg-yellow-600 transition-all duration-[1s]" >Reset Password</button>
            </form>
            {% endif %}
        </div>
 
</div>


{% endblock %}