{% for field in form %}
{% if field.errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-[5px] rounded relative mb-[10px]" role="alert">
  <p>{{field.errors}}</p>
</div>
{% endif %}
  <div style="margin-bottom: 20px;" >
    <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
      {{ field.label_tag }}
    </label>
    <input class="w-full border border-gray-400 outline-gray-500 p-[10px] rounded" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="Enter your {{  field.html_name }} ...." type="text" /> 

    {% if field.help_text %}
      <small class="border border-gray-300" style="color: grey;">{{ field.help_text }}</small>
    {% endif %}
  </div>
{% endfor %}