{% extends 'base.html' %}

{% block content %}
{% include 'navbar/navbar.html' %}
{% include 'navbar/menuNavbar.html' %}
<div class="flex justify-center items-center w-full  ">
  <div class ="flex flex-col w-[500px]  shadow-2xl p-[30px] rounded mt-[20px] border-t-[3px] border-yellow-600">
  <h2 class="text-[30px] mb-[20px] text-center">Login</h2>
  <form method="post" class="" >
    {% csrf_token %}
    {% if error %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-[5px] rounded relative mb-[10px]" role="alert">
      <p>{{error}}</p>
  </div>
    {% endif %}
   {% include 'accounts/form.html' %}
    <button type="submit"  class="bg-yellow-600 p-[10px] w-[90px] h-[45px] rounded float-right text-white hover:opacity-50 transition-all duration-[1s]">Login</button>

  </form>
  <p>Forgot Password?
    <a class="text-blue-300 hover:text-yellow-600 transition-all duration-[0.5s]" href="{% url 'accounts:passwordforgot' %}">Reset </a>now.
</p>
  <p>Don't have an account? <a class="text-blue-300 underline hover:text-yellow-600 transition-all duration-[0.5s]" href="{% url 'accounts:signup' %}">Sign up</a></p>
</div>
</div>

{% endblock %}

