{% extends 'base.html' %}

{% block title %}Password Reset {% endblock %}

{% block content %}
{% include 'navbar/navbar.html' %}
{% include 'navbar/menuNavbar.html' %}
<div class=" flex justify-center items-center w-full">
    
        <div class="flex flex-col w-[90%]  md:w-[50%]   sm:p-[30px] p-[5px] shadow-2xl rounded mt-[20px] border-t-[3px] border-yellow-600">
            <h2 class="text-center text-[15px] sm:text-[30px]  my-5  font-bold text-yellow-600">Reset Your Password </h2>
            <hr class="my-[10px]">

            <form action="" method="POST" class="flex flex-col  w-full ">
               
                {% csrf_token %}
                {% include 'accounts/form.html' %}
              
                <button class="p-[10px] bg-blue-300 hover:bg-yellow-600 text-white rounded my-[20px] w-[180px] text-center transition-all duration-[1s] ml-auto" >Reset Your Password </button>
            </form>
        </div>
 
</div>

{% endblock %}