{% extends 'base.html' %}

{% block title %}Password Reset {% endblock %}

{% block content %}

<div class="h-[100vh] flex justify-center items-center">
    
        <div class="flex flex-col   sm:w-[50%] w-[90%]  p-[30px] shadow-2xl rounded ">
            <h2 class="text-center my-5 text-[30px] font-bold">Reset Your Password </h2>
            <hr class="my-[10px]">

            <form action="" method="POST" class="flex flex-col  w-full ">
                {% if error_message %} 
            
                 <p class="text-danger">{{error_message}} </p>
                  {% endif %}
                {% csrf_token %}
                {% for field in form %}
                <label id="{{field.id_for_label}}" class="mb-[10px]">
                    {{field.label_tag}}
                </label>
                <input class="p-[10px] border border-gray-400 outline-blue-300 rounded w-full mb-[10px]" name="{{field.html_name}}" placeholder="Enter your {{field.html_name}} ..." id="{{field.id_for_label}}" maxlength="30">
                {% endfor %}
              
                <button class="p-[10px] bg-blue-300 text-white rounded my-[20px]" style="float: right;">Reset Your Password </button>
            </form>
        </div>
 
</div>

{% endblock %}