{% extends 'base.html' %}

{% block content %}
{% include 'navbar/navbar.html' %}
{% include 'navbar/menuNavbar.html' %}

<div class="flex justify-center items-center w-full  ">
  <div class ="flex flex-col w-[500px]  shadow-2xl p-[30px] m-[30px] rounded border-t-[3px] border-yellow-600">
  <h2 class="text-[30px] mb-[20px] text-center">Sign Up</h2>
  <form method="POST" class="" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
  
    {% for field in form %}
    {% if form.errors %}
 
    {% if field.errors %}
            <div class="bg-red-100 border border-red-400 text-red-700 p-[5px] rounded relative" role="alert">
                <strong class="font-bold">Error!</strong>
                <span class="block sm:inline">{{ field.label_tag }} {{ field.errors.0 }}</span>
            </div>
    {% endif %}
    
    {% if form.non_field_errors %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">Error!</strong>
            <span class="block sm:inline">{{ form.non_field_errors.0 }}</span>
        </div>
    {% endif %}
    {% endif %}



      <div style="margin-bottom: 20px;" >
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
          {{ field.label_tag }}
        </label>
        <input class="w-full border border-gray-400 outline-gray-500 p-[10px] rounded" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="Enter your {{  field.html_name }} ...." type="text" /> 

        {% if field.help_text %}
          <small class="text-gray-300" >{{ field.help_text }}</small>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit"  class="bg-blue-300 p-[10px] w-[90px] h-[45px] rounded float-right text-white hover:bg-yellow-600 transition-all duration-[1s]">Sign Up</button>
  </form>
  <p>Have already account? <a class="text-blue-400 hover:text-yellow-600 underline transition-all duration-[1s]" href="{% url 'accounts:login' %}">Login</a></p>

</div>
</div>

{% endblock %}

