<footer class="bg-gray-200  text-white w-full">
    <div class="bg-gray-600 w-full flex justify-center p-[10px] ">
        <a href="#" class="smooth-scroll all-ease">Back To Top</a>
    </div>
    <div class=" flex justify-around  w-full py-[20px]  bg-gray-800">
        <div class=" ">
            <h2 class="text-xl font-bold mb-4">Get to Know Us</h2>      
            <ul class="list-none p-0">
            <li class="mb-2"><a href="#" class=" hover:text-blue-700">About Us</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Careers</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Corporate Information</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Press Releases</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Amazon Science</a></li>
            </ul>
        </div>
        <div class="">
            <h2 class="text-xl font-bold mb-4">Make Money with Us</h2>
            <ul class="list-none p-0">
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Protect and build your brand</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Independently Publish with Us</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Sell on Amazon</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Fulfilment by Amazon</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Drive with Amazon Flex</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Advertise Your Products</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Associates Program</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Host an Amazon Hub</a></li>
            </ul>
        </div>
        <div class="">
            <h2 class="text-xl font-bold mb-4">Let Us Help You</h2>
            <ul class="list-none p-0">
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">COVID-19 and Amazon</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Your Account</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Your Orders</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Delivery Rates & Policies</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Drive with Amazon Flex</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Returns & Replacements</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Manage Your Content and Devices</a></li>
                <li class="mb-2"><a href="#" class=" hover:text-blue-700">Help</a></li>
            </ul>
        </div>
    </div>
    <div class="text-center  bg-gray-900 py-4">
        &copy; 2023 Amazon Clone | All right reserved
    </div>
</footer>
